body{
    margin: 5% 10%;
}


.content h1{
    background-color: #b7b6b2;
    padding: 10px;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0px;
}

.content h2{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.content p {
    text-indent: 30px; /* recuo de 30 pixels na primeira linha */
    margin: 15px 20%;
    font-size: 18px;
}

.imagem-box{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;               /* espaço interno */
    background-color: #ccc;   /* fundo leve (opcional) */
}

.imagem-box img {
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #999;      /* borda fina na imagem (opcional) */
}

.imagem-box figcaption {
  margin-top: 8px;
  font-size: 14px;
  color: #000000;
}

.secao-historia{
    display: flex;
}

.content-promo{
    color: blue;
    font-size: 42px;
    font-weight: bold;
    background-color: #dcdcf4;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
    text-align: center;
    
}

ul{
    list-style-type: square;
    margin: 10px 0px 50px 50px;
}

strong{
    font-weight: bold;
}

.logo-footer{
    filter: invert(100%);
}

footer{
    display: flex;
    gap: 50px;
    color: #494444;
}




